body {
    font-family: sans-serif;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover{
    color:green;
    text-decoration:underline;
}

#result {
    color:green;
}

.keyword {
    font-weight:bold;
    color:red;
}

.container {
    margin:3em;
}